@font-face {
  font-family: 'iconfont';  /* project id 251615 */
  src: url('//at.alicdn.com/t/font_25elqwxb3srlik9.eot');
  src: url('//at.alicdn.com/t/font_25elqwxb3srlik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_25elqwxb3srlik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_25elqwxb3srlik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_25elqwxb3srlik9.svg#iconfont') format('svg');
}
body {
	background-color:#f5f5f5;
}
.iconfont{
	font-family:"iconfont";
	font-size:12px;
	font-style:normal;
	color:red;
	line-height:25px;/*设置行高是因为i标签会使得行高比原先大一个像素*/
}
.iconfont1{
	font-family:"iconfont";
	font-size:12px;
	font-style:normal;
	line-height:25px;
	color:green;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
/* 顶部导航开始 */
#top_nav {
	background:#f2f2f2;
	color:#9b9b9b;
	border:1px solid #e5e5e5;
	font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

#top_nav_main {
	width:1230px;
	height:33px;
	margin:0 auto;
	font-size: 12px;
}
#top_nav_main a:hover {
	color:red;
}
#top_nav_main li {
	float:left;
	line-height:33px;
}
	/* 顶部导航左边 */
.top_nav_l li {
	margin-right:19px;
}
.top_nav_l li a {
	color:#9b9b9b;
}

	/* 顶部导航右边 */
		/* 制作一个小的会旋转的三角形 */
.top_nav_r b {
	display:inline-block;
	border-top:3px solid #9b9b9b;
	border-right:3px solid #f2f2f2;
	border-bottom:3px solid #f2f2f2;
	border-left:3px solid #f2f2f2;
	-webkit-transform-origin:3px 2px;
	transform-origin:3px 2px;
	-webkit-transition:rotate() 0.3s;
	transition:0.3s;
}

.top_nav_r ul>li {
	line-height:33px;
	padding:0 10px;
	position:relative;
}
.top_nav_r .show_icon:hover .qrtmall {
	display:block;
}
.top_nav_r .qrtmall {
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
	position:absolute;
	width:174px;
	height:226px;
	border:1px solid #ccc;
	box-shadow:0 4px 10px 2px #ccc;
	left:-57px;
	background:#fff;
	display:none;
	z-index:1;
}
.top_nav_r .qrtmall_icon {
	border-top:6px solid #f2f2f2;
	border-right:5px solid #f2f2f2;
	border-left:5px solid #f2f2f2;
	border-bottom:6px solid #fff;
	position:absolute;
	left:85px;
	top:-11px;
}
.top_nav_r .qrtmall img {
	display:block;
	margin:20px auto;
}
.top_nav_r a {
	color:#9b9b9b;
}
.top_nav_r ul>li>ul,#web_nav {
	position:absolute;
	display:none;
	border-right:1px solid #9b9b9b;
	padding:10px 0;
}

.top_nav_r_l p {
	color:#9b9b9b;
	float:left;
	line-height:33px;
}
.top_nav_r_l>li:hover b,.top_nav_r_r>li:hover b {
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
#top_nav .top_nav_r li ul li {
	line-height:20px;
}
/* 我的淘宝 */
.top_nav_r_l li:nth-of-type(1) ul,
.top_nav_r_l li:nth-of-type(4) ul,
.top_nav_r_r li:nth-of-type(4) ul,
.web_nav {
	border:1px solid #dcdcdc;
	border-top:1px solid #fff;
	position:absolute;
	top:33px;
	background:#fff;
}
.top_nav_r_l li:nth-of-type(1) ul a,
.top_nav_r_l li:nth-of-type(4) ul a,
.top_nav_r_r li:nth-of-type(4) ul a,
.top_nav_r_r li:nth-of-type(5) ul a {
	color:#000;
}
.top_nav_r_l li:nth-of-type(1) ul,
.top_nav_r_l li:nth-of-type(4) ul {
	left:-1px;
	width:100px;
}
.top_nav_r_r li:nth-of-type(4) ul {
	right:-1px;
	width:140px;
}
#web_nav {
	right:-1px;
	width:1198px;
	padding-bottom:40px;
}
.top_nav_r_l>li:nth-of-type(1) a:hover,
.top_nav_r_l>li:nth-of-type(4) a:hover,
.top_nav_r_r>li:nth-of-type(4) a:hover,
.top_nav_r_r>li:nth-of-type(5) a:hover {
	text-decoration:underline;
}
.top_nav_r_l>li:nth-of-type(1):hover,
.top_nav_r_l>li:nth-of-type(4):hover,
.top_nav_r_r>li:nth-of-type(4):hover,
.top_nav_r_r>li:nth-of-type(5):hover {
	border-right:1px solid #ececec;
	border-left:1px solid #ececec;
	border-bottom:1px solid #fff;
	padding:0 9px;
	background-color:#fff;
}
.top_nav_r_l li:nth-of-type(1):hover ul,
.top_nav_r_l li:nth-of-type(4):hover ul,
.top_nav_r_r li:nth-of-type(4):hover ul,
.top_nav_r_r li:nth-of-type(5):hover #web_nav {
	display:block;
	z-index:10;
}
.font_w {
	font-weight: normal;
}
.top_nav_r_r li:nth-of-type(4) ul span {
	font-weight: bold;
	color:#000;
	margin-left:10px;
}
.top_nav_r_r li:nth-of-type(4) ul div li {
	margin:0 10px;
}
.top_nav_r_r li:nth-of-type(4) ul div {
	padding-bottom:10px;
	overflow:hidden;
	border-bottom:1px dotted #000;
}
	/* 网站导航下拉 */
.web_nav h3 {
	display:inline-block;
	margin-left:30px;
	font-size: 16px;
	font-weight: normal;
	font-family:"宋体";
	background:#fff;
}
.nav_hot {
	width:300px;
	border-right:1px solid #f5f5f5;
}
.nav_hot h3 {
	color:red;
}
#top_nav #web_nav ul li {
	line-height:26px;
}
.nav_hot ul li,.nav_market ul li,.nav_brand ul li, .nav_help ul li {
	width:68px;
	padding:0 0 0 30px;
}
.nav_market {
	width:400px;
	border-right:1px solid #f5f5f5;
}
.nav_market h3 {
	color:#437ada;
}
#web_nav .nav_market ul li>a:hover {
	color:#437ada;
}
.nav_brand {
	border-right:1px solid #f5f5f5;
	width:300px;
}
.nav_help {
	width:190px;
}
#web_nav .nav_brand ul li>a:hover,
#web_nav .nav_help ul li>a:hover {
	color:#000;
}


/* LOGO区域 */
#header {
	width:1230px;
	margin:0 auto;
	height:130px;
}
.logo {
	width:90px;
	margin-left:54px;
	margin-top:28px;
}
.logo .logo_t {
	width:90px;
	height:53px;
}
.logo .logo_b {
	display:block;
	width:90px;
	height:60px;
	margin-top:5px;
}
.search {
	margin:38px 174px;
	height:50px;
	width:622px;
}
.search_top {
	width:622px;
	height:36px;
	border:2px solid red;
}
.search_top .search_text {
	width:476px;
	height:20px;
	padding:8px;
	font-size: 16px;
	outline:none;
}
.search_top .search_btn {
	width:130px;
	height:36px;
	line-height:36px;
	font-size: 20px;
	color:#fff;
	background:red;
	font-weight: bold;
	font-family:"Microsoft YaHei";
	cursor:pointer;
}
.search_bottom .search_list {
	margin-left:-12px;
	margin-top:8px;
}
.search_bottom .search_list li {
	padding:0 13px 0 12px;
	float:left;
	border-right:1px solid #ccc;
	font-size: 14px;
}
.deborder {
	border-right:none !important;
}
.colorlist {
	color:red;
}

/* 导航区域 */
#nav {
	width:100%;
	height:536px;
}
.nav_top {
	width:100%;
	background:#dd2727;
	height:36px;
}
.nav_bar {
	width:1230px;
	margin:0 auto;
	height:36px;
}
.nav_content {
	height:36px;
	width:1030px;
	margin:-36px 200px;
}
.nav_content>ul>li i,.nav_content>ul>li a{
	color:#fff;
}
.nav_content>ul>li i {
	font-weight: normal;
	font-size: 16px;
}
.nav_content>ul>li {
	padding:0 15px;
	font-size: 16px;
	font-weight: bold;
	color:#fff;
	float:left;
	position:relative;
	height:36px;
	line-height:36px;
	cursor:pointer;
}
.nav_content>ul>li:hover>img {
	top:-24px;
}
 
.nav_content>ul>li>img {
	width:60px;
	height:40px;
	position:absolute;
	left:30%;
	top:0;
	z-index:-1;
	transition:0.3s;
}

.nav_box {
	width:200px;
	height:36px;
	background:#c60a0a;
	left:0;
	top:0;
	padding:0;
	position:relative;
}
.nav_box .nav_class {
	display:inline-block;
	width:200px;
	height:36px;
	position:absolute;
	left:0;
	top:0;
	text-align:center;
}
.nav_box h2 {
	font-size: 16px;
	color:#fff;
	font-weight: bold;
	height:36px;
	line-height:36px;
}
.nav_box h2 i {
	color:#fff;
	font-weight: normal;
	font-size: 16px;
}

/* 导航广告轮播左侧导航盒子 */
.nav_bottom {
	width:100%;
	height:500px;
}
.nav_ad {
	width:1230px;
	margin:0 auto;
}
.nav_ad_l {
	width:200px;
	height:500px;
	background:#ededed;
	position:relative;
}
.l_class>li {
	padding-left:18px;
	width:182px;
	height:31px;
	line-height:31px;
	font-size: 14px;
	font-family:"Miscrosoft YaHei";
}
.l_class>li:nth-of-type(16) {
	height:35px;
	line-height:35px;
}
.l_class>li:hover {
	background:#fff;
}
.l_class>li i {
	color:#767676;
	font-size: 14px;
}
.nav_red:hover>a,.nav_red:hover>i {
	color:#e54077;
	font-weight: bold;
}
.nav_blue:hover>a,.nav_blue:hover>i {
	color:#405fe5;
	font-weight: bold;
}
.nav_orange:hover>a,.nav_orange:hover>i {
	color:orange;
	font-weight: bold;
}
.nav_cyan:hover>a,.nav_cyan:hover>i {
	color:#7FFFD4;
	font-weight: bold;
}

/* 导航盒子弹出层 */
.ad_pop_box {
	width:852px;
	height:500px;
	background:#fff;
	position:absolute;
	left:200px;
	top:0;
	z-index:1;
}
.l_class_l {
	width:612px;
	height:500px;
	background:#fff;
	margin-top:4px;
}
.class_detail {
	width:612px;
	overflow:hidden;
}
.class_title {
	width:120px;
	text-align:center;
	margin-top:10px;
}
.class_title h3 {
	font-weight: bold;
}
.class_list {
	width:492px;
	background:#fff;
	padding:10px 0 8px 0;
	border-bottom:1px dotted #e6e6e6;
}
.class_list a {
	display:inline-block;
	margin-left:12px;
	font-size: 14px;
	line-height:24px;
	float:left;
	font-family:"Microsoft YaHei";
}
.class_list_red {
	color:#e5467b;
}
.list_hover_1 a:hover {
	color:#e5467b;
}


/* 弹出层右边广告logo区域 */
.l_class_r {
	width:190px;
	height:500px;
	margin-top:0;
	margin-left:50px;
}
.ad_list {
	width:240px;
	overflow:hidden;
}
.ad_list a {
	width:95px;
	height:50px;
	opacity:1;
	filter:alpha(opacity=100);
}
.ad_list a:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}
.ad_list img {
	margin:5px auto;
	width:70px;
	height:40px;
}

.ad_buy {
	width:190px;
	height:100px;
}
.ad_buy img {
	width:190px;
	height:100px;
}

.boy_clo,.girl_clo,.girl_shoes,.cosmetic,.clock,.phone,.baby,.food,.fruit,.ele,.furniture,.car,.flower,.doc,.pet,.book {
	display:none;
}

/* 轮播图 */
.nav_ad_center {
	width:920px;
	height:500px;
	position:relative;
}
.nav_ad_pic {
	width:920px;
	height:500px;
	position:relative;
}
.nav_ad_pic img {
	width:920px;
	height:500px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.nav_ad_pic a{
	opacity:0;
}
.float_ad {
	width:220px;
	position:absolute;
	right:0;
	top:10px;
}
.float_ad img {
	width:220px;
	height:235px;
	margin-bottom:10px;
	background-color:rgba(255,255,255,0.6);
	transition:0.3s;

}
.float_ad img:hover {
	background-color:rgba(255,255,255,1);
}
.nav_ad_bottom {
	width:212px;
	height:20px;
	position:absolute;
	left:350px;
	bottom:20px;
}
.nav_ad_bottom>ul>li {
	width:20px;
	height:20px;
	border-radius:50%;
	float:left;
	margin-right:15px;
	background:#888;
	cursor:pointer;
}
.nav_ad_bottom .active {
	border:1px solid #888;
	background:#fff;
}



.nav_ad_r {
	width:110px;
	height:500px;
}
.nav_login {
	width:100px;
	height:480px;
	margin-top:10px;
	transition:0.3s;
	background-color:rgba(28,28,28,0.7);
	font-size: 12px;
}
.nav_login:hover {
	background-color:rgba(28,28,28,1);
}
.nav_login a {
	color:#fff;
}
.nav_login a:hover {
	text-decoration:underline;
}
.login_icon {
	width:70px;
	height:70px;
	border-radius:50%;
	margin:12px auto;
	background:url(../img/login.png) 0 20px no-repeat;
	background-color:#fff;
}
.nav_welcom {
	width:80px;
	margin:0 auto;
	color:#fff;
	padding-bottom:9px;
	border-bottom:1px dashed #000;
}
.nav_hello {
	display:block;
	font-size: 12px;
	line-height:12px;
	text-align:center;
}
.nav_welcom a:hover {
	text-decoration:underline;
}
.please_login {
	display:block;
	width:80px;
	height:24px;
	border-radius:12px;
	background:red;
	margin:12px auto;
	text-align:center;
}
.please_login i,.nav_return span i {
	color:#fff;
}
.nav_sign {
	display:block;
	text-align:center;
}
.nav_return {
	width:100px;
	margin-top:20px;
}
.nav_return span {
	display:block;
	color:#fff;
	text-align:center;
}
.nav_return a {
	font-weight: bold;
	display:block;
	text-align:center;
	margin-top:18px;
}
.nav_login_ad {
	width:100px;
	margin-top:30px;
	color:#fff;
}
.nav_login_ad span {
	display:block;
	line-height:24px;
	background:#1c1c1c;
	text-align:center;
}
.ad_img img {
	display:block;
	width:60px;
	height:60px;
	border-radius:50%;
	margin:4px auto;
}
.nav_login_ad a {
	display:block;
	text-align:center;
	margin-bottom:10px;
}

/* 你的专属活动 */
	/* 顶部图片展示区 */
#content {
	width:1230px;
	margin:0 auto;
	position:relative;
}
.content_mtop span {
	color:#dd2727;
	display:block;
	margin:31px 0 14px;
	text-align:center;
	font-size: 16px;
}
.content_mtop_img {
	width:1230px;
	height:130px;
	margin:0 auto;
}
.content_mtop_img img {
	width:238px;
	height:130px;
	margin-left:10px;
	float:left;
	transition:0.5s;
}
.content_mtop_img img:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.content_mtop_img .margin_left {
	margin-left:0px;
}
	/* 直播和商家广告logo */
.content_bottom {
	width:1230px;
	height:436px;
	margin:30px auto;
}
		/* 直播区 */
.content_live {
	width:488px;
	height:436px;
	background:#000;
}
.live_turn {
	width:488px;
	height:374px;
}

.turn_top {
	width:488px;
	height:275px;
}
#turn_top_img {
	width:488px;
	height:275px;
	position:relative;
}
#turn_top_img>li {
	position:absolute;
	top:0;
	left:0;
	display:none;
}
#turn_top_img>li>a>img {
	width:488px;
	height:275px;
}
#turn_top_img>li>a span{
	display:block;
	position:absolute;
	height:20px;
	border-radius:10px;
	background:#655b5b;
	right:16px;
	top:14px;
	padding:3px 5px;
	padding-top:0;
	line-height:20px;
	color:#fff;
	font-size: 12px;
}
/* .live_cathead_top {
	width:488px;
	height:275px;
	position:absolute;
	left:0;
	top:0;
}
.live_cathead_top img {
	width:70px;
	height:56px;
	margin-top:110px;
	margin-left:209px;
	transition:0.3s;
}
#turn_top_img>li:hover .live_cathed_top img {
	-webkit-transform-origin:35px 28px;
	-webkit-transform:scale(1.5);
} */




.turn_bottom {
	width:488px;
	height:90px;
	margin-top:10px;
	position:relative;
	overflow:hidden;
}
.turn_bottom>span i{
	display:block;
	color:#fff;
	width:17px;
	line-height:90px;
	font-size:20px;
	text-align:center;
}
#turn_bottom_prev {
	width:984px;
	height:90px;
	position:absolute;
	z-index:0;
}
#turn_bottom_prev>li {
	width:160px;
	height:90px;
	margin-right:4px;
	float:left;
	overflow:hidden;
}
#turn_bottom_prev>li img {
	width:160px;
	height:90px;
}
.turn_bottom_l,.turn_bottom_r {
	width:17px;
	height:90px;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	cursor:pointer;
}
.turn_bottom_l {
	top:0;
	left:0;
}
.turn_bottom_r {
	right:0;
	top:0;
}

.live_text_turn {
	width:488px;
	height:40px;
	margin-top:10px;
}
.text_turn_l {
	width:110px;
	height:40px;
	margin:4px 0 0 20px;
	background:url(../img/live.png) no-repeat;
}

.text_turn_r {
	width:170px;
	height:40px;
	overflow:hidden;
	position:relative;
}
.text_turn_main {
	width:170px;
	position:absolute;
	left:0;
	top:0;
}
.text_turn_main>li {
	width:170px;
	height:40px;
	font-size: 14px;
	line-height:20px;
	color:#fff;
}
.text_turn_main>li span {
	color:#fd4889;
}

		/* 商家广告区 */
.content_logo_ad {
	width:732px;
	height:436px;
	margin-left:10px;
	background:#fff;
}
.content_logo_img ,.content_logo_imglast{
	display:block;
	width:121px;
	height:108px;
	border:0 1px 1px 0 solid red;
	position:relative;
}
.content_logo_img:hover .content_logo_shadow {
	display:block;
}
.content_logo_img img {
	display:block;
	width:100px;
	height:50px;
	margin:29px auto;
}
.content_logo_shadow {
	position:absolute;
	width:121px;
	height:108px;
	top:0;
	left:0;
	display:none;
	background-color:rgba(0,0,0,0.8);
}
.content_logo_shadow span {
	display:block;
	width:121px;
	margin-top:40px;
	text-align:center;
	font-size: 12px;
	color:#fff;
}
.content_logo_shadow a {
	display:block;
	width:52px;
	height:12px;
	padding:3px 6px;
	border-radius:10px;
	background:#ff0000;
	font-size: 12px;
	color:#fff;
	margin:10px auto;
}
.content_logo_imglast .content_renew {
	display:block;
	font-size: 40px;
	margin:34px auto;
	transition:0.5s;
	color:#9f9d9d;
	text-align:center;
}
.content_logo_imglast:hover {
	background:red;
}
.content_logo_imglast:hover .content_renew {
	-webkit-transform:rotate(720deg);
	transform:rotate(360deg);
	color:#fff;
}.content_logo_imglast:hover>span {
	color:#fff;
}
.content_logo_imglast>span {
	line-height:20px;
	display:block;
	color:#9f9d9d;
	font-size: 14px;
	text-align:center;
	margin-top:-20px;
}

/* 潮流前沿五个列表区 */
.content_fashion {
	width:1230px;
	height:476px;
	margin-top:0;
}
.fashion_list {
	width:1230px;
	height:476px;
}
.fashion_list>li {
	width:238px;
	height:476px;
	float:left;
	background:#fff;
	margin-left:10px;
}
.fashion_list .fashion_list_left {
	margin-left:0;
}
.fashion_list_top {
	width:238px;
	height:36px;
	background:#dd2727;
	color:#fff;
	text-align:center;
	line-height:36px;
	font-size: 16px;
	font-weight: bold;
}
.fashion_list_top i {
	color:#fff;
	font-size: 16px;
	font-weight: bold;
}
.fashion_list_img {
	width:238px;
	height:200px;
	margin-top:20px;
}
.fashion_list_title {
	width:100%;
	line-height:20px;
	font-size: 20px;
	text-align:center;

}
.fashion_list_content {
	width:100%;
	line-height:12px;
	color:#888;
	text-align:center;
	margin-top:5px;
}
.fashion_list_scale {
	width:140px;
	height:140px;
	margin:10px auto;
}
.fashion_list_scale img {
	display:block;
	width:133px;
	height:133px;
	margin:0 auto;
	transition:0.3s;
}
.fashion_list_scale img:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
/* 广告图片 */
.adimg img{
	width:1230px;
	height:90px;
	margin-top:10px;
}
/* 居家生活 */
.health {
	width:1230px;
	height:470px;
	margin-top:30px;
}
.health_top {
	width:1230px;
	height:30px;
}
.health_top_l {
	width:300px;
	height:30px;
}
.health_top_l i {
	display:inline-block;
	color:#64c333;
	font-size: 20px;
	margin-top:2px;
	margin-left:-6px;
}
.health_tl_ch {
	line-height:30px;
	font-size: 18px;
	width:72px;
	margin-left:6px;
}
.health_tl_en {
	width:180px;
	line-height:12px;
	font-size: 12px;
	margin:12px 10px;
}
.health_top_r {
	width:800px;
	height:30px;
}
.health_tr_list {
	height:30px;
	margin-right:10px:;
}
.health_tr_list>li {
	padding:0 10px;
	line-height:30px;
	float:left;
}
.health_tr_list>li a {
	font-size: 12px;
}
.health_tr_list>li a:hover {
	text-decoration:underline;
}
.health_bottom {
	width:1230px;
	height:440px;
}
.health_bottom_l {
	width:246px;
	height:440px;
	background:#64c333;
}
.health_bl_pink {
	background-color:#ea5f8d;
}
.health_bl_blue {
	background-color:#0aa6e8;
}
.health_bl_cyan {
	background-color:#19c8a9;
}
.health_bl_red {
	background-color:#f15453;
}
.health_bl_orange {
	background-color:#f7a945;
}
.health_bottom .health_bc_blue {
	color:#0aa6e8;
}
.health_bottom .health_bc_pink {
	color:#ea5f8d;
}
.health_bottom .health_bc_cyan {
	color:#19c8a9;
}
.health_bottom .health_bc_red {
	color:#f15453;
}
.health_bottom .health_bc_orange {
	color:#f7a945;
}




.health_l_img img {
	width:246px;
	height:330px;
}
.health_l_img {
	position:relative;
}
.health_l_turn {
	width:100%;
	height:30px;
	position:absolute;
	left:0;
	bottom:0;
	overflow:hidden;
	background-color:rgba(255,255,255,0.8);
	z-index:1;
}
.health_l_img:hover .health_l_mask {
	background-color:rgba(255,255,255,0.2);
}
.health_lt_list {
	left:78px;
	position:absolute;
}
.health_lt_list li {
	width:100%;
	height:30px;
	line-height:30px;
	font-size: 12px;
	text-align:center;
}
.health_lt_list li:hover {
	color:red;
}
.health_l_mask {
	width:246px;
	height:330px;
	background-color:rgba(255,255,255,0);
	transition:0.3s;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
}
.health_l_bottom {
	width:246px;
	height:110px;
	color:#fff;
	text-align:center;
}
.health_bottom_title {
	line-height:20px;
	font-size: 20px;
	font-weight: bold;
	margin-top:26px;
}
.health_bottom_content {
	line-height:14px;
	font-size: 14px;
	margin-top:10px;
}
.health_bottom_center {
	width:735px;
	height:440px;
	background:#fff;
}
.health_bottom_rw {
	width:984px;
	height:440px;
	background:#fff;
}
.health_bc_list>a>li {
	width:244px;
	height:219px;
	border-right:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	float:left;
	position:relative;
}
.health_bc_list .health_bc_lw {
	width:489px;
	height:219px;
	border-right:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	float:left;
	position:relative;
}
.health_list_title {
	width:220px;
	color:#000;
	margin:25px 0 0 25px;
	font-size: 18px;
}
.health_list_text {
	width:220px;
	color:#64c333;
	margin:10px 0 0 25px;
	font-size: 12px;
}
.health_list_tf {
	width:220px;
	margin:10px 0 0 25px;
	font-size: 12px;
}
.health_bc_img,.health_br_img {
	position:absolute;
	right:0;
	bottom:0;
	transition:0.5s;
}
.health_bc_img img {
	width:150px;
	height:150px;
}
.health_br_img img {
	width:100px;
	height:100px;
}
.health_bc_list>a>li:hover .health_bc_img {
	right:10px;
}
.health_bottom_r {
	width:249px;
	height:440px;
	background:#fff;
}
.health_br_list>a>li {
	width:249px;
	height:147px;
	border-bottom:1px solid #f5f5f5;
	position:relative;
}
.health_br_list1>a>li {
	width:249px;
	height:110px;
	border-bottom:1px solid #f5f5f5;
	position:relative;
}
.health_br_list>a>li:hover .health_br_img, .health_br_list1>a>li:hover .health_br_img {
	right:10px;
}

/* 猜你喜欢 */
.guess_like_content {
	width:1230px;
}
.guess_lc_top {
	width:172px;
	height:20px;
	background:url(../img/guesslikebg.png) 0 5px repeat-x;
	margin:30px auto 20px;
}
.guess_lt_text {
	width:112px;
	line-height:20px;
	background:#f5f5f5;
	margin:0 auto;
	text-align:center;
	color:#6a666a;
	font-size: 18px;
}
.guess_lc_top i {
	font-size: 20px;
}
.guess_lc_bottom {
	width:1230px;
	overflow:hidden;
}
.guess_lc_list {
	width:100%;
	overflow:hidden;
	font-family:"Microsoft YaHei";
}
.guess_lc_list>li {
	width:230px;
	height:315px;
	border:1px solid #fff;
	float:left;
	margin-left:10px;
	padding:2px;
}
.guess_lc_list .guess_lc_left {
	margin-left:0;
}
.guess_ll_img {
	position:relative;
}
.guess_ll_img>img {
	width:230px;
	height:230px;
}
.guess_ll_mask {
	width:230px;
	height:230px;
	background-color:rgba(255,255,255,0);
	transition:0.3s;
	position:absolute;
	left:0;
	top:0;
}
.guess_ll_mask:hover {
	background-color:rgba(255,255,255,0.2);
}
.guess_lc_list>li:hover {
	border:1px solid red;
}

.guess_ll_text {
	width:100%;
	font-size: 12px;
	color:#666;
	line-height:18px;
}
.guess_ll_price {
	width:100%;
	font-size: 14px;
	color:#ff1f47;
	text-align:center;
	line-height:18px;
}
.content_end {
	width:1230px;
	height:70px;
	background:url(../img/endbg.png) no-repeat;
}

/* 页脚 */
#footer {
	width:100%;
	border-top:1px solid #d1d7dc;
	background-color:#fff;
}
.footer_main {
	width:1230px;
	margin:0 auto;
}
.footer_top{
	width:1230px;
	height:150px;
}
.footer_top_list {
	width:1190px;
	height:150px;
	margin-left:40px;
	border-bottom:1px solid #ededed;
}
.footer_top_list>li {
	width:297px;
	height:150px;
	overflow:hidden;
	float:left;
	position:relative;
}
.footer_top_list>li>a {
	display:block;
	width:297px;
	height:150px;
	position:absolute;
	left:0;
	top:0;
}
.footer_top_list1 {
	background:url(../img/bottombg.jpg) -6px 0 no-repeat;
}
.footer_top_list2 {
	background:url(../img/bottombg.jpg) -309px 0 no-repeat;
}
.footer_top_list3 {
	background:url(../img/bottombg.jpg) -606px 0 no-repeat;
}
.footer_top_list4 {
	background:url(../img/bottombg.jpg) -905px 0 no-repeat;
}
.footer_middle {
	width:100%;
	height:213px;
}
.footer_middle_list {
	width:1230px;
	height:213px;
	margin:30px auto;
}
.footer_middle_list>li {
	width:120px;
	float:left;
	margin-left:110px;
}
.footer_middle_list>li>span {
	color:#646464;
	font-size: 16px;
	line-height:26px;
	font-weight: bold;
}
.footer_middle_list>li>a {
	display:block;
	color:#929292;
	font-size: 12px;
	line-height:20px;
}
.footer_middle_list>li>a:hover {
	text-decoration:underline;
}
/* 页脚版权信息 */
.footer_bottom{
	width:100%;
	height:height:198px;
	border-top:2px solid red;
	background:#000;
}
.footer_bottom_main {
	width:1230px;
	height:198px;
	margin:0 auto;
}
.footer_bottom_main a {
	color:#fff;
}
.footer_bottom_about a{
	line-height:36px;
	font-size: 12px;
	padding-right:6px;
}
.footer_bottom_ali>a {
	display:inline-block;
	padding-right:6px;
	margin:12px 0;
	font-size: 12px;
	line-height:12px;
	border-right:1px solid #fff;
}
.footer_bottom_ic {
	width:800px;
	overflow:hidden;
	margin-top:-15px;
}
.footer_bottom_ic span,.footer_bottom_ic a {
	display:inline-block;
	margin-right:40px;
	font-size: 10px;
	color:#999ea4;
	line-height:24px;
}
.footer_bottom_cr {
	width:100%;
	font-size: 10px;
	color:#5e5e5e;
}
.footer_bottom_ipolice {
	margin-top:15px;
	margin-bottom:24px;
}
.footer_bottom_ipolice>a {
	margin-right:13px;
}
/* 右边侧栏 */
#slidr {
	width:35px;
	height:100%;
	background:#000;
	position:fixed;
	right:0;
	top:0;
	color:#fff;
}
#slidr i {
	color:#fff;
	font-size: 20px;
}
.slidr_backtop,.slidr_cat,.slidr_money,.slidr_like,
.slidr_coll,.slidr_clock,.slidr_add,.slidr_write,.slidr_sq {
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	position:relative;
}
.slidr_backtop:hover,.slidr_cat:hover,.slidr_money:hover,.slidr_like:hover,
.slidr_coll:hover,.slidr_clock:hover,.slidr_add:hover,.slidr_write:hover,.slidr_sq:hover,.slidr_shopcar:hover {
	background:#c40000;
}
.slidr_cat_wrap {
	margin-top:249px;
	position:relative;
}
.slidr_pop_wrap {
	position:relative;
}
#slidr .slidr_cat i {
	font-size: 30px;
}
#slidr .slidr_shopcar i {
	color:red;
	font-size: 16px;
}
.slidr_shopcar {
	width:35px;
	height:100px;
	padding:8px 0;
	border-top:1px solid #444;
	border-bottom:1px solid #444;
	text-align:center;
	font-size: 14px;
	line-height:20px;
	cursor:pointer;
	position:relative;
}
.slidr_shopcar:hover i{
	color:#fff;
}
.slidr_bottom {
	width:35px;
	position:absolute;
	bottom:0;
	left:0;
}
.slidr_pop {
	width:90px;
	height:35px;
	right:70px;
	top:0;
	line-height:35px;
	text-align:center;
	color:#fff;
	visibility:hidden;
	opacity:0;
	transition:0.5s;
	position:absolute;
	background:#494949;
	font-size: 13px;
}
.slidr_backtop:hover+.slidr_pop,.slidr_cat:hover+a .slidr_pop,.slidr_money:hover+a .slidr_pop,.slidr_like:hover+a .slidr_pop,
.slidr_coll:hover+a .slidr_pop,.slidr_clock:hover+a .slidr_pop,.slidr_add:hover+a .slidr_pop,.slidr_write:hover+a .slidr_pop,
.slidr_sq:hover+a .slidr_pop,.slidr_shopcar:hover+a .slidr_pop,.slidr_pop:hover {
	opacity:1;
	right:35px;
	visibility:visible;
}
.slidr_pop img {
	width:20px;
	height:20px;
	position:absolute;
	top:8px;
	right:-10px;
}
.slidr_pointer{
	cursor:pointer;
}

/* 左侧导航栏 */
#slidl {
	width:0;
	height:0;
	position:fixed;
	left:50%; /* 这里先固定到页面中间，再用margin来调整到想要的位置，就不会受到分辨率的影响了 */
	bottom:40px;
	background:red;
	margin-left:-660px;
	z-index:10;
	font-size: 12px;
	text-align:center;
	color:#fff;
	transition:0.2s;
	overflow:hidden;
}
.slidl_nav,.slidl_health,.slidl_ele,.slidl_out,
.slidl_home,.slidl_baby,.slidl_beauty,.slidl_guess,.slidl_top {
	width:29px;
	height:29px;
	border-bottom:1px solid #f5f5f5;
	background:#626262;
	padding:6px;
	cursor:pointer;
}
.slidl_nav {
	padding:12px 6px;
	height:17px;
	background-color:#dd2727;
}
.slidl_health:hover {
	background-color:#64c333;
}
.slidl_ele:hover {
	background-color:#0aa6e8;
}
.slidl_out:hover {
	background-color:#19c8a9;
}
.slidl_home:hover {
	background-color:#f15453;
}
.slidl_baby:hover {
	background-color:#f7ae5c;
}
.slidl_beauty:hover {
	background-color:#ea5f8d;
}
.slidl_guess:hover {
	background-color:#333;
}
.slidl_top {
	background:#acacac;
}
.slidl_top i {
	font-size: 16px;
	color:#fff;
	line-height:16px;
}
